*body{
    background-color: rgb(195, 187, 177);
}
/* navbar styles */
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px ;
} 
.navbar-hd{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.navbar-list{
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: 300px;
    font-size: larger;
    
} 
.navbar-link{
    text-decoration: none;
    color: rgba(11, 5, 5, 0.61);
    align-items: flex-end;
    align-content: center;
    padding-right: 10px;
} 
.li-btn{
    font-size: 20px;
    align-content: center;
}
 .btn{ 
   color: aliceblue;
    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 0.582);
    border-radius: 5px;
    background-color: rgb(3, 10, 3);
    height: 30px;

 } 
 .btn:hover{
    background-color: rgba(29, 107, 110, 0.871);
 }
 .navbar-link:hover{
    list-style: none;
    background-color: rgba(7, 163, 36, 0.486);
    border-radius: 5px;
 } 
 /* section */
 /* bannar */
 .hero{
    display: flex;
    position: static;
    width: 1280px;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 64;
    padding: 70px 90px 70px 90px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    border-radius: 24px;
    background: rgba(8, 234, 4, 0.367);
    margin-left: 20px;
 }
 .hero-hd{
    color: rgba(11, 5, 5, 0.61);
    padding-bottom: 10px;

 }
 .hero-para{
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    
 }
 .hero-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 11;
    padding: 0px;
    flex: none;
   
    margin: 16px 0px;
 }
 .btn-1{ 
   color: rgb(0, 27, 20);
   font-size: 28px;
   font-weight: 600;
   line-height: 22px;
   letter-spacing: 0%;
   text-align: left;
   border-radius: 8px;
   padding-left: 20px;
   padding-right: 20px;
   height: 60px;
   background-color: rgb(243, 241, 245);
 } 
 .btn-1:hover{
   background-color: rgb(72, 215, 167);
 }
 /* heading-h2 */
 .heading-h2{
   color: rgb(14, 14, 14);
   font-size: 40px;
   font-weight: 600;
   line-height: 40px;
   letter-spacing: 0%;
   text-align: left;
   margin-top: 50px;
   margin-left: 20px;
 } 
 .Pillars{
   box-sizing: content-box;
   border: 1px solid rgba(14, 14, 14, 0.15);
   border-radius: 16px;
   background: rgba(218, 208, 208, 0.156);
   font-size: 20px;
   margin-left: 20px;
   margin-right: 5px;
 }
 .item{
   margin-top: 10px;
   margin-left: 20px;
   margin-right: 20px;
 }
.container{
   display: flex;
   height: fit-content;
   

}
.Pillars:hover{
   background-color: rgba(43, 244, 12, 0.468); 
   box-shadow: 5px 5px 30px 0px;
}
.Pillars-1{
   box-sizing: border-box;
   border-radius: 16px;
   background: rgba(84, 144, 245, 0.2);
   margin-right: 10px;
   margin-left: 20px
}
.Pillars-2{
   box-sizing: border-box;
   border-radius: 16px;
   margin-right: 10px;
   background: rgb(198, 228, 214);
}
.Pillars-3{
   box-sizing: border-box;
   border-radius: 16px;
   margin-right: 20px;
   background: rgb(247, 235, 207);
}
/* The Vision of Future */
.vision-para{
   margin-left: 20px;
   margin-top: 20px;
}
/* dr-yunus */
.dr-yunus{
   margin-top: 20px;
   margin-left: 20px;
   box-sizing: border-box;
   border: 1px solid rgba(14, 14, 14, 0.15);
   border-radius: 16px;
   background: rgb(255, 255, 255);
}
.dr-yunus-text{
   margin-left: 20px;
   margin-right: 20px;
}
.btn-1-1{
   font-weight: 300;
   order: 2;
   flex-grow: 0;
   margin-left: 20px;
   margin-bottom: 20px;
   border-radius: 5px;
   background: rgb(84, 144, 245);
}
.btn-2{
   font-weight: 300;
   order: 2;
   flex-grow: 0;
   margin-left: 20px;
   margin-bottom: 20px;
   border-radius: 5px;
   background: rgb(9, 161, 92);
}
.btn-3{
   font-weight: 300;
   order: 2;
   flex-grow: 0;
   margin-left: 20px;
   margin-bottom: 20px;
   border-radius: 5px;
   background: rgb(255, 194, 57);
}
/* Your Opinion Matters */
.Opinion{
   margin-top: 50px;
   margin-left: 20px;
   font-size: larger;
}
.Opinion-1{
   display: flex;
   justify-content: space-between;
   box-sizing: border-box;
   border: 1px solid rgba(14, 14, 14, 0.15);
   background: rgb(198, 228, 214);
   margin-left: 50px;
   margin-right: 50px;
   padding-left: 35px;
   padding-right: 35px;
}
.table-1{
   display: flex;
   justify-content: space-between;
}
/* Recent News */
.bold-1{
   margin-left: 20px;
}
.bold-2{ 
   display: flex;
   box-sizing: border-box;
   border-radius: 10px;
   background-color: antiquewhite;
   margin-left: 20px;
}
.bold-2-1{
   margin-right: 20px;
   border-radius: 10px;
} .bold-2-2{
   margin-left: 20px;
   justify-content: center;
}
.btn-1-3{
   height: 40px;
   font-size: large;
   color: rgb(244, 245, 245);
   background-color: rgb(11, 90, 48);
   border-radius: 8px;
}
.btn-1-3:hover{
   background-color: rgb(123, 97, 5);
   box-shadow: 10px 0px 10px 0px; 
}
.bold-2-1-1{

}
.right{
   display: flex;
   margin-left: 20px;
   justify-content: space-between;
   box-sizing: border-box; 
   background-color: antiquewhite;
   border-radius: 10px; 
   margin-top: 15px;
}
.right-1{
   margin-left: 20px;
}
.right-img{
   background-color: aliceblue;
   border-radius: 15px;
   overflow: hidden;
   margin-left: 20px;
   margin-right: 20px;
 } 
 /* .donate */
 .donate{
   text-align: center;
   margin-top: 20px;
 }
 .donate-item-1{
   margin: 10px 50px 10px 50px;
 }
 .donate-1{
   display:flex;
   gap: 80px;
   justify-content: space-around;
 }
 .donate-item{ 
   font-weight: 400;
   font-size: 40px;
   box-sizing: border-box;
   background-color: rgba(175, 134, 81, 0.732);
   border-radius: 8px;
   line-height: 70px;
   margin: 5px 5px 5px 5px;
   padding: 5px 10px 5px 10px;
 }
 .donate-2{
   box-sizing: border-box;
   background-color: rgb(232, 231, 229);
   border-radius: 10px;
   margin-left: 20px;
   margin-right: 5px;
   margin-top: 20px;
 }
 .other-amount{
   text-align: center;
   box-sizing: border-box;
   border-bottom: 1px solid rgba(14, 14, 14, 0.15);
   line-height: 20px;width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border-radius: 10px;
 }
 .btn-done{
   margin-top: 20px;
   text-align: center;
 }
 .footer{
   text-align: center;
 }
 .footer-2{
   text-align: center;
 }
 .footer-1{
   border-radius: 24px;
   box-sizing: border-box;
   background-color: rgb(198, 228, 214);
   margin-left: 100px;
   margin-right: 100px;
   line-height: 60px;
   justify-content: center;
 }
 .footer-3{
   text-align: center;
   box-sizing: border-box;
   background-color: rgb(247, 247, 247);
 }
 .footer-3-item{
   margin-top: 20px;
 }
 .footer-text{
   line-height: 35px;
   border-radius: 12px 0px 0px 8px;
   background: rgb(255, 255, 255);
 }
 .btn-1-3-4{ 
   line-height: 35px;
   font-size: large;
   color: rgb(244, 245, 245);
   background-color: rgb(11, 90, 48);
   border-radius:0px 12px 12px 0px;
 }
 .footer-text-1{
   line-height: 50px;
   border-radius: 8px;
 }